{{{include file="`$smarty.const.TEMPLATE`/header.tpl"
title="`$ruRow.ru_file_name`" menu="0"}}}
<h2>入力ファイル : ({{{$ruRow.ru_id}}}) {{{$ruRow.ru_file_name}}}</h2>
    <div class="container">
       Do you want to delete surely ?<br />
       <table>
       <tr><td>
       <a href="/">No</a>
       </td><td>
       {{{*<form method="link" action="delete.php?run={{{$ruRow.ru_id}}}&c={{{$cert}}}"><input type="submit" value="Yes" size="20" /></form>*}}}
       <a href="delete.php?run={{{$ruRow.ru_id}}}&m=run&c={{{$cert}}}">Yes</a>
       </td><tr>
       </table>
    </div>
    <div class="container">
		<table>
			<tr><td>ID</td><td>{{{$ruRow.ru_id}}}</td></tr>
			<tr><td>計算ソフトウェア</td><td>{{{$ruRow.ru_software}}}</td></tr>
			<tr><td>プロジェクト</td><td>{{{$ruRow.ru_project}}}</td></tr>
			<tr><td>ファイル名</td><td>{{{$ruRow.ru_file_name}}}</td></tr>
			<tr><td>開始日時</td><td>{{{$ruRow.ru_datetime|COMGetFormatDateTime}}}</td></tr>
			<!-- <tr><td>終了/分割</td><td>{{{$enddi}}}/{{{$alldi}}}</td></tr>
			<tr><td>経過CPU計算時間</td><td>{{{$passCpuTime|COMGetFormatSecond}}}</td></tr>
			<tr><td>残りCPU計算時間</td>
				<td>{{{$estimateCpuTime|COMGetFormatSecond}}}</td>
			</tr>
			<tr><td>平均計算時間</td><td>{{{$averageTime}}}s</td></tr>
			<tr><td>経過時間</td><td>{{{$passTime|COMGetFormatSecond}}}</td></tr>
			<tr><td>残り時間</td><td>{{{$estimateTime|COMGetFormatSecond}}}</td></tr>
			<tr><td>終了予定日時</td><td>{{{$endDateTime|COMGetFormatDateTime}}}</td></tr>
      <tr><td>総計算時間</td><td>{{{$allTime|COMGetFormatSecond}}}</td></tr>
      -->
			<tr><td>&emsp;</td>
				<td>
					オリジナルrunファイルを<a href="show_original_script.php?id={{{$ruRow.ru_id}}}" target="_blank">表示</a>・<a href="download_original_script.php?id={{{$ruRow.ru_id}}}">ダウンロード</a>
					&emsp;&emsp;&emsp;&emsp;
					<a href="show_analyzed_script.php?id={{{$ruRow.ru_id}}}" target="_blank">解析済runファイルを表示</a>
				</td>
			</tr>
		</table>
	</div>

{{{include file="`$smarty.const.TEMPLATE`/footer.tpl"}}}
