<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="ja" />
<title>show_data</title>
<link href="main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
	<!-- <br />
    <a href="/">TOP</a>
    -->
    {{{if $showMode == false }}}
    <div id="container">
        <table>
            <tr><th>出力ファイルの一覧</th></tr>
		{{{foreach from=$ou_file_names item=file_name}}}
        <tr><td><a href="download_data.php?run={{{$ru_id}}}&filename={{{$file_name}}}">{{{$file_name}}}</a></td></tr>
		{{{/foreach}}}
        </table>
    </div>
    {{{else}}}
    <div id="script">
		{{{$ou_file_name|escape|nl2br}}}
    </div>
    <div id="script">
        {{{$ou_contents|escape|nl2br}}}
    </div>
    {{{/if}}}
</div>
</body>
</html>

